
/*기관방문신청*/
.ggform_bdw{
width:880px !important;
}
.ggform{
/*width:848px;*/
padding:30px 40px;
box-sizing:border-box;
}
.ggform1>li{
width:49%;
float:left;
}
.ggform1 .mr{
margin-right:2%;
}


.form_btn_wrap{
width:100%;
margin:40px 0;
}
.fbw1,.fbw2{
}
.fbw a{
width:150px;
line-height:40px;
}
.w100{
width:100%;
}
.agree_form01 span{
color:#222;
font-family:'Nanum Gothic';
font-weight:600;
}
.agree_form01{
padding:12px 5%;
width:90%;
}
.agree_wrap .fr{
float:right;
}
.agreeex{
float:left;

margin-left:10px;
}
/*로그인페이지*/


.order_wrap{
width:500px;
height:600px;
margin:0 auto;
}
.login_st{
width:100%;
margin-top:15px;
}

.login_st input[type=text],.login_st input[type=email]{
padding:3%;
font-size:15px;
width:100%;
box-sizing:border-box;
margin-bottom:8px;
border:1px solid #d8d8d8;
height:45px;
}

.login_st .pwdBox{
	padding:3%;
	font-size:15px;
	width:100%;
	box-sizing:border-box;
	margin-bottom:8px;
	border:1px solid #d8d8d8;
	height:45px;
}

.login_btn{
	float:left;
	margin-right:10px;
}
.login_btn p{
float:left;
margin-left:27px;
font-size:14px;
font-weight:bold;
line-height:22px;
}

.login_btn .squaredThree{
float:left;
}

.lg_btn a{
background-color:#fff;
color:#333;
border:1px solid #d2d2d2;
text-align:center;
display:block;
padding:3% 0;
margin:3% 0;
font-weight:500;
font-size:15px;
width:49%;
float:left;
box-sizing:border-box;

}

.lg_btn a:nth-child(1){
margin-right:2%;
}
.bt_btn .login_go{
margin:4% auto 0%;
}
.login_ex p{
margin:0 auto;
width:100%;
margin-bottom:7px;
line-height:15px;
margin-top:15px;
}



.bt_btn a{
background-color:#e94609;
color:#fff;
text-align:center;
display:block;
padding:3% 0;
margin:4% 0;
font-weight:bold;
font-size:18px;
}

.bt_btn2 a{
background-color:#37a1d2;
color:#fff;
text-align:center;
display:block;
padding:3% 0;
margin:4% 0;
font-weight:bold;
font-size:20px;
}
.lg_logo{
width: 280px;
margin:75px auto 40px;
}

.lg_logo img{
width:100%;
}
.login_subcon{
height: 660px !important;
}



.join_id{
width:250px !important;
}


/*기관방문신청*/
.ggform{
	margin:0px auto;
	background-color:#eef2f5;
	border-radius:5px
}
.ggform1>li{
	float:left;
	width:49%;
	margin-bottom:20px;
}

.ggform .mr{
	margin-right:2%;
}

.ggform .li100{
	width:100%;
	margin-right:0;
}


.formttl1{
	font-family:'Nanum Gothic';
	font-weight:600;
	color:#444;
	font-size:15px;
	margin-bottom:5px;
}
.ip_1{
	border:1px solid #d2d2d2;
	font-size:14px;
}

.add001{
width:49%;
float:left;
margin-bottom:10px
}
.ipfl{
	float:left;
}
.bntstyle1 {
    width: 100px;
    height: 40px;
    text-align: center;
    background-color: #12c6d1;
    color: #fff;
    display: block;
    float: left;
    line-height: 40px;
    font-size: 14px;
}


input[type=text],input[type=email], input[type=password], input[type=file]{
	border:1px solid #d1d1d1;
	height:40px;
	padding-left:10px;
	box-sizing:border-box;
}
select{
	border:1px solid #d1d1d1;
	height:40px;
	box-sizing:border-box;
}
.ss1 {display: block;
}
.ss1 input {display: none;}
.ss1 .box_radio {
float:left;
border: 1px solid #ccc;
width:50%;
height:40px;
line-height:40px;
text-align:center;
overflow: hidden; 
font-size:14px;
cursor:pointer;
background-color:#fff;
box-sizing:border-box;
}
.chk_iro input:checked + .box_radio,.chk_iro input:hover + .box_radio {
background: #999;
border-color: #767676;
color:#fff;
}